name: Release

on:
  push:
    tags: ['v*']

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - run: python3.13 release.py ${{ github.ref_name }}
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        body_path: release.md
        files: '*.zip'
        prerelease: true

    - name: Checkout Registry
      uses: actions/checkout@v6
      with:
        repository: JalonWong/bazel-registry
        path: bazel-registry
        persist-credentials: false
    - name: Prepare Git
      working-directory: bazel-registry
      run: |
        set -o errexit -o nounset -o pipefail
        git remote add authed-fork https://x-access-token:${{ secrets.BCR_PUBLISH_TOKEN }}@github.com/JalonWong/bazel-registry.git
        git config --global user.email "${{ github.event.head_commit.author.email }}"
        git config --global user.name "${{ github.event.head_commit.author.name }}"

    - run: python3.13 bazel-registry/tools/publish.py --tag=${{ github.ref_name }}

    - name: Push to Registry
      working-directory: bazel-registry
      run: git push --force authed-fork
